<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="http://localhost:8080/get-form">Switch on the input page for GET-forms</a>
    <br>
    <a href="http://localhost:8080/post-form">Switch on the input page for Post-forms</a>
    <br>
    <a href="http://localhost:8080/delete-person">Switch on the forms page for remove any objects.</a>
    <br>
    <a href="http://localhost:8080/person">View the list Person.</a>
</body>
</html>