<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
<tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Age</th>
</tr>
<tr type="circle" th:each="person: ${persons}">
    <td th:text="${person.name}">Name</td>
    <td th:text="${person.gender}">Gender</td>
    <td th:text="${person.age}">Age</td>
</tr>
</table>
<br>
<a href="http://localhost:8080/post-form">Create person</a>
<br>
<a href="http://localhost:8080/delete-person">Drop persons</a>

</body>
</html>